In [ ]:
# Answer 1
A database is a structured collection of data that is organized in a way that allows for efficient storage, retrieval, and management of data. Databases are commonly used in software applications to store and retrieve data, and they are an essential part of modern technology systems.

The main differences between SQL and NoSQL databases are:

SQL databases are relational databases based on tables, while NoSQL databases are non-relational and can be structured in various ways.
SQL databases use SQL as their primary query language, while NoSQL databases use various query languages or APIs.
SQL databases are better suited for complex queries and transactions, while NoSQL databases are better suited for handling large amounts of unstructured data and providing fast data access.

In [ ]:
# Answer 2
DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) that is used to define, modify, and manage the structure of a database. In other words, DDL is used to create and manage the schema of a database, including tables, views, indexes, and other database objects.

CREATE: Used to create a new database object, such as a table or view.
Example:
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    salary DECIMAL(10,2)
);

ALTER: Used to modify the structure of an existing database object, such as a table or view.
Example:
ALTER TABLE employees
ADD COLUMN department VARCHAR(50);

DROP: Used to delete an existing database object, such as a table or view.
Example:
DROP TABLE employees;

TRUNCATE: Used to remove all the data from an existing table.
Example:
TRUNCATE TABLE employees;

In [ ]:
# Answer 3)
DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) that is used to manipulate and process data in a database. DML statements are used to insert, update, delete, and retrieve data from a database, and they are often used in conjunction with DDL (Data Definition Language) statements to manage the structure and content of a database.

Insert: The INSERT statement is used to insert new records into a table. For example, the following SQL statement inserts a new record into the "employees" table
Example:
INSERT INTO employees (id, name, salary)
VALUES (1, 'John Doe', 50000);

Update: The UPDATE statement is used to update existing records in a table. For example, the following SQL statement updates the salary of the employee with an ID of 1
Example:
UPDATE employees
SET salary = 55000
WHERE id = 1;

Delete: The DELETE statement is used to delete records from a table. For example, the following SQL statement deletes the employee with an ID of 1 from the "employees" table
Example:
DELETE FROM employees
WHERE id = 1;

In [ ]:
#Answer 4)
DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve and manipulate data from a database. DQL statements are used to query the data stored in the database, and they allow you to retrieve data based on certain conditions, perform calculations, and filter data based on various criteria.

Select: The most commonly used DQL statement is the SELECT statement, which is used to retrieve data from one or more tables in a database. Here is an example of a SELECT statement that retrieves all records from the "employees" table
Example:
SELECT * FROM employees;

In [ ]:
# Answer 5)
Primary key: A primary key is a column or set of columns in a table that uniquely identifies each row in the table. It is used to enforce data integrity and ensure that each row in the table can be uniquely identified. Primary keys are typically used as the basis for creating relationships between tables. The primary key constraint ensures that the value of the primary key is unique and not null for each row in the table.

Foreign Key: A foreign key is a column or set of columns in a table that refers to the primary key of another table. It is used to establish a relationship between two tables. The foreign key constraint ensures that the values in the foreign key column match the values in the primary key column of the referenced table, or are null. This ensures that the data in the table is consistent with the data in the referenced table.

In [ ]:

# Answer 6)
To connect mysql to python:
import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="Password",
  database="yourdatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM yourtable")

# Fetch the results
myresult = mycursor.fetchall()

# Print the results
for x in myresult:
  print(x)


Cursor method: The cursor() method creates a cursor object, which is used to execute SQL statements. 
Execute method: The execute() method is used to execute SQL statements on the database

In [ ]:
#Answer 7)
The order of execution of SQL clauses in an SQL query is as follows:

FROM clause: This clause specifies the table or tables from which the data will be retrieved.

WHERE clause: This clause is used to filter the data based on specified conditions.

GROUP BY clause: This clause is used to group the data based on specified columns.

HAVING clause: This clause is used to filter the groups based on specified conditions.

SELECT clause: This clause is used to specify the columns that will be included in the result set.

ORDER BY clause: This clause is used to sort the result set based on specified columns.

LIMIT clause: This clause is used to limit the number of rows returned by the query.