In [2]:
## Answer 1)
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
## Answer 2)
import pandas as pd
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(data)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
## Answer 3)
import pandas as pd
names = ["Alice", "Bob", "Claire"]
ages = [25, 30, 27]
genders = ["Female", "Male", "Female"]
df = pd.DataFrame({"Name": names, "Age": ages, "Gender": genders})
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Answer 4)
A DataFrame in Pandas is a two-dimensional data structure that can store data of different types. It is a collection of Series objects, each of which represents a column in the DataFrame. The rows of a DataFrame are indexed, and each row can contain a different set of values.

## Answer 5)
head() and tail() - These functions return the first few or last few rows of the DataFrame, respectively. This can be useful for getting a quick overview of the data.
describe() - This function returns a summary of the statistical distribution of the data in the DataFrame. This can be useful for understanding the data and identifying any outliers.
sort_values() - This function sorts the DataFrame by the values in a particular column. This can be useful for filtering the data or for making comparisons.
filter() - This function returns a filtered version of the DataFrame that only includes rows that match a certain criteria. This can be useful for isolating specific data points or for removing unwanted data.
apply() - This function applies a function to each row or column in the DataFrame. This can be useful for transforming the data or for calculating new values.

## Answer 6)
Series and DataFrame are both mutable in nature, while Panel is not. This means that the values in a Series or DataFrame can be changed after the object is created. However, the size of a Series or DataFrame cannot be changed.

Panel is a three-dimensional data structure, while Series and DataFrame are two-dimensional. This means that Panel can store more complex data than Series or DataFrame. However, Panel is not mutable, so the values in a Panel cannot be changed after the object is created.

In [5]:
## Answer 7)
import pandas as pd

# Create three Series
name_series = pd.Series(["Alice", "Bob", "Claire"])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(["Female", "Male", "Female"])

# Create a DataFrame from the three Series
df = pd.DataFrame({"Name": name_series, "Age": age_series, "Gender": gender_series})

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female